<section
  class="relative grid items-center grid-cols-1 gap-6 pt-3 pb-24 text-center justify-items-center md:justify-items-start md:text-left md:grid-cols-[3fr_1fr]"
>
  <article class="flex flex-col gap-2">
    <h1
      class="mb-1 text-4xl font-bold text-transparent bg-gradient-to-r from-gradient-3 to-gradient-4 bg-clip-text md:text-5xl"
      id="name"
    >
      ARLX
    </h1>

    <h2 class="mb-5 text-3xl font-bold md:text-4xl text-custom-800">
      Frontend Developer?
    </h2>

    <p class="max-w-[69ch] text-balance">
      Hi my name is Arlix James, this is made in

      <span class="font-bold">Angular & TailwindCSS</span>
    </p>

    <p class="max-w-[69ch] mb-5 text-balance">
      This is just a part of my project for school so basically it's not official,
      i'm still learning and exploring smth that hook my interest and i'm still<strong> lazy </strong>to code,
      btw i bundle this code perfectly as i can say-_- so yeah... <strong>SCROLL MAN</strong>!
    </p>

    <shared-buttons />
  </article>

  <article class="-order-1 md:order-1">
    <img
      alt="ARLX photo"
      class="object-cover rounded-md"
      height="420"
      src="./assets/images/yo.png"
      width="320"
    />
  </article>

  <img
    alt="arrow down"
    class="absolute -translate-x-1/2 bottom-2 left-1/2 portfolio-bounce"
    height="32"
    id="arrow_down"
    src="./assets/icons/arrow_down.svg"
    width="32"
  />
</section>
